* {
  margin: 0;
  padding: 0;
}

.body1 {
  background: url(login.avif) no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  padding-top: 300px;
}

.container1 {

  justify-content: center;
  display: grid;
  align-content: center;
}

.container1 h1 {
  display: inline-block;
  font-size: 40px;
  border-bottom: 4px solid purple;
  margin-bottom: 9px;
  padding: 2px 0px;
}

.box {
  width: 100%;
  border-bottom: 2px solid purple;
  margin: 20px 0px;
}

.box input {
  background: none;
  width: 75%;
  border: none;
  outline: none;
  color: white;
  padding: 5px 0px;
  font-size: 20px;
}


.box i {
  width: 25px;
  text-align: center;
}

.btn1 {
  color: white;
  cursor: pointer;
  outline: none;
  margin: 21px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid purple;
  font-size: 18px;
  background: none;
}

.btn1:hover {
  color: purple;
  background-color: white;
}